<!DOCTYPE html>
<html ng-app="reddit-clone">
  <head>
    <meta charset="utf-8">
    <title>Angular Reddit Clone</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="redditController as reddit">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Reddit Clone</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Add Post</a></li>
            </ul>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form ng-submit="reddit.post()" name="form">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Add Post</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" ng-model="reddit.title" name="title">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="author">Author</label>
                            <input type="text" class="form-control" id="author" ng-model="reddit.author" name="author">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="image">Image URL</label>
                        <input type="url" class="form-control" id="image" ng-model="reddit.image" name="image">
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="3" id="description" ng-model="reddit.description" name="description"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button id="close" type="submit" class="btn btn-primary">Post</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
              </div>
            </form>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-model="reddit.sort" ng-click="reddit.sort='-votes'">Up Votes</a></li>
                  <li><a href="#" ng-model="reddit.sort" ng-click="reddit.sort='-date_posted'">Date</a></li>
                  <li><a href="#" ng-model="reddit.sort" ng-click="reddit.sort='title'">Title</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container-fluid">
      <div class="well well-lg" ng-repeat="post in reddit.posts | orderBy:reddit.sort | filter:search">
        <div class="row">
          <div class="col-sm-2">
            <img class="img-responsive" ng-src="{{ post.image }}" alt="" />
          </div>
          <div class="col-sm-10">
            <h2>{{ post.title }}</h2>

            <h2 class="pull-right">
              <span class="glyphicon glyphicon-thumbs-up" ng-click="reddit.upVote(post)"></span>
              {{ post.votes }}
              <span class="glyphicon glyphicon-thumbs-down" ng-click="reddit.downVote(post)"></span>
            </h2>

            <p>{{ post.author }}</p>
            <p>{{ post.description }}</p>

            <h4><span class="glyphicon glyphicon-calendar"></span> <time am-time-ago="post.date_posted" title="{{ post.date_posted | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time></h4>

            <h4 ng-click="toggleComments = !toggleComments">
              <span class="glyphicon glyphicon-comment"></span>
              <ng-pluralize count="post.total_comments"
                when="{
                  '0': 'No Comments',
                  'one': '1 Comment',
                  'other': '{} Comments'
                }">
              </ng-pluralize>
            </h4>

            <h4 ng-click="addComment = !addComment"><span class="glyphicon glyphicon-pencil"></span> Add Comment</h4>

            <form ng-show="addComment" ng-submit="reddit.postComment(post)" name="form">
              <div class="row">
                <div class="form-group col-sm-3">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" ng-model="reddit.name" name="name">
                </div>
                <div class="form-group col-sm-6">
                  <label for="comment">Comment</label>
                  <input type="text" class="form-control" id="comment" ng-model="reddit.comment" name="comment">
                </div>
                <div class="form-group col-sm-3">
                  <button type="submit" class="btn btn-success btn-block" id="add-comment" ng-click="addComment = false; toggleComments = true">Comment</button>
                </div>
              </div>
            </form>

            <blockquote ng-show="toggleComments" ng-repeat="comment in post.comments | reverse">
              <p>{{ comment.comment }}</p>
              <footer>{{ comment.author }}</footer>
            </blockquote>

          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
  </body>
</html>
